<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loadingLab36">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:noHistory ="true"
        android:theme="@style/Full_Screen">
        <activity
            android:name="com.example.loadingLab36.M000ActSplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
    <!--android:noHistory has a value of "true" means that the activity will not leave a historical trace.
     It will not remain in the activity stack for the task, so the user will not be able to return to it.
     Read more: https://developer.android.com/guide/topics/manifest/activity-element.html-->